:root {
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    font-size: 62.5%;
}

*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

#root {
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    max-width: 1136px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.5rem;
    color: rgb(233, 10, 10);
    font-weight: 700;
}

a {
    font-size: 2rem;
    text-decoration: none;
    color: blueviolet;
}

p {
    font-size: 1.6rem;
    background-color: rgb(238, 185, 115);
    width: 100%;
    padding: 1rem;
    border-radius: 2rem;
}

ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

li {
    font-size: 1.6rem;
    background-color: rgb(238, 185, 115);
    width: 100%;
    padding: 1rem;
    border-radius: 2rem;
    list-style: none;
    cursor: pointer;
}

input {
    padding: 0.5rem;
}

input:focus {
    outline: none;
}

span {
    color: #131313;
    font-size: 1.6rem;
    background-color: antiquewhite;
    display: inline-block;
}

hr {
    width: 100%;
    height: 0.5rem;
    background-color: #dc9999;
    border: 0;
}

button {
    background: none;
    outline: none;
    border: none;
    padding: 0.7rem 1rem;
    background-color: blue;
    color: aliceblue;
    border-radius: 2rem;
    cursor: pointer;
    margin-left: 1rem;
}


header {
    background: rgba(56, 13, 197, 0.25);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border: 1px solid rgba(5, 62, 249, 0.912);
    padding: 1rem;
}

#title {
    text-align: center;
    color: #fff;
    font-size: 2.5rem;
    padding: 2rem;
}

#vue-controlled-section {
    background: rgba(224, 94, 159, 0.23);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.7px);
    -webkit-backdrop-filter: blur(3.7px);
    border: 1px solid rgba(224, 94, 159, 0.82);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}