:root {
  font-family: 'Sedgwick Ave Display', cursive;
  line-height: 5.2rem;
  font-size: 62.5%;
  letter-spacing: 0.2rem;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #FAD961;
  background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
}

#root {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

span {
  font-size: 1.6rem;
  background-color: wheat;
}

button {
  padding: 1.6rem 1.6rem;
  cursor: pointer;
  text-transform: uppercase;
  background: rgba(179, 21, 21, 0.6);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: rgb(12, 12, 12);
  font-family: 'Sedgwick Ave Display', cursive;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background-color: #e798cd;
  border-color: #f7b0df;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.26);
}

button:disabled {
  background-color: #ccc;
  border-color: #ccc;
  box-shadow: none;
  color: #3f3f3f;
  cursor: not-allowed;
}

header {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  width: 100%;
  display: flex;
  height: 90%;
}

.left-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 4rem;
  gap: 6rem;
}

.health__section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 3rem;
}

.health__box {
  background: rgba(220, 191, 191, 0.65);
  box-shadow: 0 8px 25px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 100%;
  padding: 1.6rem;
}

.health__bar {
  background: rgba(220, 191, 191, 0.65);
  box-shadow: 0 8px 25px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 100%;
  height: 3.5rem;
}

.health__bar-progress {
  height: 100%;
  background-color: green;
}

.button__section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
}

.button__section .btn {
  width: 20rem;
  border-radius: 1.6rem;
}

.right-content {
  width: 50%;
  padding: 2rem;
}

.battle__details {
  height: 100%;
  background: rgba(231, 212, 212, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#log ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 2rem;
}

#log li {
  margin: 0.5rem 0;
}

.log--player {
  color: #7700ff;
}

.log--monster {
  color: #da8d00;
}

.log--damage {
  color: red;
}

.log--heal {
  color: green;
}